body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  padding-top: 20vh;
}

.z-1 {
  z-index: 1;
}

button {
  border-radius: 15%;
  padding: 0.3em 0.5em;
  cursor: pointer;
}

.left-top {
  position: absolute; 
  left: 8px; 
  top: 8px;
}

.right-top {
  position: absolute; 
  right: 8px; 
  top: 8px;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#menu {
  z-index: 5;
  background-repeat: no-repeat;
  background-position: center;
}

#menu button, .menu-button {
  font-size: x-large;
}

#menu #menu_inner * {
  position: relative;
}